* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
  }
  h1, h2, h3, h4, {
    font-size: 100%;
  }
  @media screen and (max-width:992px){
    .card {
        width:45%;
    }
}
@media screen and (max-width:768px){
    .card {
        width:90%;
    }
}