nav {
    padding: 40px;
    text-align: right;
    background: #428ed5;
    color: #fff;
    justify-content: space-between;
  }

header {
    padding: 70px;
    text-align: end;
    background: aqua;
    color: #000;
} 

body {
    background: rgb(190, 192, 221);
    font-family: Arial, Helvetica, sans-serif;

}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10%;
}
.boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: double;
    border-width: 3px;
}
.box1, .box2, .box3, .box4, .box5, h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: double;
    border-width: 3px;
    
}

footer {
    padding: 60px;
    text-align: right;
    background: #3c82c5;
    color: #fff;
    position: absolute; bottom: 0;
    width: 100%;
}

